Source: yavdr-addon-irmp
Section: video
Priority: extra
Maintainer: Alexander Grothe <seahawk1986@hotmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: yavdr-addon-irmp
Architecture: any
Depends: irmplircd, yavdr-utils
Description: yaVDR integration for irmplircd
